	<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/nav.css') }}" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/footer.css') }}" media="screen">
	<link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/form.css') }}" media="screen">
	<link rel="icon" type="image/ico" href="{{url_for('static', filename = 'images/favicon.ico') }}">
</head>
<body>
	<header>
			<div class="wrapper">
				<div class="logo">
					<a href="/"><img src="{{url_for('static', filename = 'images/logo.png') }}" alt="Joe Care"></a>
				</div>
				<div class="navbar">
					<div class="close-nav"><button>×</button></div>
					<nav>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/query">Queries</a></li>
							<li><a href="/expert">Expert Advice</a></li>
							<li><a href="#foot">Contact</a></li>
							{% if current_user.is_active %}

							<li><a href = "/profile">Profile</a></li>
							<li><a href = "/logout">Logout</a></li>

							{% else %}
							<li><a href = "/login">Login</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
				<div class="menu-bar">
					<button><i></i></button>
				</div>
			</div>
		</header>
		<div class="container">
			<!-- Content -->
		</div>
		<script>
			const theBody = document.querySelector('body');
			const openNav = document.querySelector('.menu-bar button');
			const closeNav = document.querySelector('.close-nav button');
			const Navbar = document.querySelector('.navbar');
	
			// function bodyScroll(){
			//     if(Navbar.classList.contains('show')){
			//         theBody.classList.add('hide-scroll');
			//     }
			//     else if(theBody.classList.contains('hide-scroll')){
			//         theBody.classList.remove('hide-scroll');
			//     }
			// }
	
			function showHide(){
				Navbar.classList.toggle('show');
				// bodyScroll();
			}
	
			openNav.onclick = showHide;
			closeNav.onclick = showHide;
		</script>
	
	
	<h1 style="text-align: center;color: #42a5f5;">{{session.name}}</h1>
	<br>
		<table style="margin-left: auto;
	  margin-right: auto; font-size: 1rem; background-color: #E8E8E8; border-radius: 15px; padding: 25px">
			<tr>
				<td style="text-align: left;color: #183e97; width: 50%">Email</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;">{{session.email}}</td>
			  </tr>
			<tr>
				<td style="text-align: left;color: #183e97; width: 50%">Phone Number</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;">{{session.phno}}</td>
			  </tr>
			  <tr>
				<td style="text-align: left; color:#183e97; width: 50%">Date of Birth</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;">{{session.dob}}</td>
			  </tr>
			  <tr>
				<td style="text-align: left;color:#183e97; width: 50%">Age</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;">{{session.age}}</td>
			  </tr>
			  <tr>
				<td style="text-align: left;color:#183e97; width: 50%">Address</td>
				<td style="text-align: center; padding: 0px 25px;">:</td>
				<td style="text-align: left;">{{session.add}}</td>
			  </tr>
			  
			  
		  </table>
	
			
	
		<div style="margin: 10px auto;">
		 <a href="/editprofile"><button style="padding: .5%; background-color: white; border-radius: 15px; width: 100%; margin: 5px;">Edit your Profile</button></a>
		 <a href="/changepassword"><button style="padding: .5%; background-color: white; border-radius: 15px; width: 100%; margin: 5px">Change Password</button></a> 
		 <a href="/delacc"><button style="padding: .5%; background-color: white; border-radius: 15px; width: 100%; margin: 5px">Delete your account</button></a> 
	
	</div>


	
	<br><br>
	
	
		
			
		
	
	
	{% if posted %}
	<h2 style="text-align: center; color: #42a5f5">YOUR QUERIES</h2>
	
	<div style="margin: 10px">
	{% for record in posts %}
	<div style="text-align: center; background-color: #E8E8E8; width: 50%; margin: 10px auto; border-radius:25px; border: 0.8px solid">
		<h3 style="color:#183e97">{{record[2]}}</h3>
		{% if record[8] == "True" %}
			<p>Query Under Consideration</p>
		{% else %}
			{% if record[9] == "True" %}
				<p>Post has been approved</p>
				{% if record[10] == "True" %}
					<p>Your Post is age restrictive</p>
				{% endif %}
			{% else %}
				<p>Post has not been approved. Contact us if you think it is a mistake</p>
			{% endif %}
		{% endif %}
		<div style="margin: 10px;">
		 <a href="{{url_for('querypost', postid=record[0])}}"><button style="padding: .5%; background-color: white; border-radius: 15px">Read More</button></a> 
		
		<a href="{{url_for('editpost', postid=record[0])}}"><button  style="padding: .5%; background-color: white; border-radius: 15px">Edit Post</button></a> 
			
		<a href="{{url_for('deletepost', postid=record[0])}}"><button  style="padding: .5%; background-color: white; border-radius: 15px">Delete Post</button></a></div>
		</div>
	{% endfor %}
		
	{% else %}
	<h2 style="text-align: center; color:#42a5f5" >NO QUERIES BY YOU</h2>
	{% endif %}
	</div>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
intent="WELCOME"
chat-title="Joe, the Bot"
agent-id="7b2d573f-3da1-4330-9b75-c3e329ff22dc" language-code="en">
</df-messenger>

	<div class="container"></div>
<footer id="foot">
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
        <h2 class="ft-title" style="color: #42a5f5;">Contact</h2>
        <ul>
          <li><a href="https://www.linkedin.com/in/prem-jain801/" style="color: black">Prem</a></li>
          <li><a href="https://www.linkedin.com/in/k-naga-himaja/" style="color: black">Himaja</a></li>
          <li><a href="https://twitter.com/KNagaHimaja" style="color: black">Twitter</a></li>
          <li><a href="https://www.instagram.com/prem_jain_801/" style="color: black">Instagram</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title" style="color: #42a5f5;">Resources</h2>
        <ul>
          <li><a href="/" style="color: black">Home</a></li>
          <li><a href="/query" style="color: black">Queries</a></li>
          <li><a href="/expert" style="color: black">Expert Advice</a></li>
          <li><a href="#foot" style="color: black">Contact</a></li>
        </ul>
      </div>
    <div class="ft-main-item">
      <h2 class="ft-title" style="color: #42a5f5;">About us</h2>
      <ul style="color: black"> 
        <p style="text-align: justify;">Prem and Himaja are G Pulla Reddy Engineering College students.</p>
        <p style="text-align: justify;">Joe Care is designed to help men of all ages understand their bodies better.</p>
        <p style="text-align: justify;">Our dear virtual friend, Joe Bot, is here in case you need any help. </p>
        <p style="text-align: justify;">	We hope you have an educative tour on our page. Happy Learning!</p>
      </ul>
    </div>
    
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
    </ul>
  </section>
</footer>
</body>
</html>
